body {
    background-color: #e3e3e3;
}

.container {
    background-color: white;
    width: 25%;
    height: 70%;
    margin-top: 3%;
    box-shadow: 5px 10px #888888;
}

form {
    margin-left: 30px;
    margin-top: 40px;
}

.cont {
    background-color: white;
}

.menu_1 {
    text-align: right;
}